modules = ["python-3.12"]

[nix]
channel = "stable-25_05"
packages = ["bash", "cacert", "cargo", "glibcLocales", "grpc", "libiconv", "libxcrypt", "rustc"]

[[ports]]
localPort = 8000
externalPort = 80
