modules = ["nodejs-20", "web", "python-3.11"]
run = "npm run dev"

[nix]
channel = "stable-25_05"
packages = ["bash", "cairo", "cargo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "grpc", "gtk3", "libiconv", "libxcrypt", "pkg-config", "qhull", "rustc", "tcl", "tk", "xcodebuild", "zlib"]

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Run"
author = 46519710
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd client && npm install && npm run build && cd ../Backend-Narrisia && pip install -r requirements.txt && python -m uvicorn main:app --host 0.0.0.0 --port 5000 --reload"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "FastAPI Backend"

[[workflows.workflow]]
name = "FastAPI Backend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Backend-Narrisia && python main.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
expertMode = true
